pkgbase = termchat
	pkgdesc = A fast, asynchronous, bi-directional terminal chat server and client
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/LHagfoss/termchat
	arch = x86_64
	arch = aarch64
	license = MIT
	source = termchat-x86_64-linux::https://github.com/LHagfoss/termchat/releases/download/v0.1.0/termchat-x86_64-linux
	source = termchat-aarch64-linux::https://github.com/LHagfoss/termchat/releases/download/v0.1.0/termchat-aarch64-linux
sha256sums_x86_64 = SKIP
sha256sums_aarch64 = SKIP

pkgname = termchat
